/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------ */

body {
    margin: 0%;
    color: #fff;
}

* {
    box-sizing: border-box;
}

.base {
    width: 100vw;
    background: url(../assets/alphabet.jpg) no-repeat;
}

.layer {
    width: inherit;
    height: 100vh;
    background: #000000ed;
    opacity: 0.88;
    padding: 7vh 0px;
}

.calculator {
    width: 400px;
    height: 86vh;
    margin: auto;
    border: solid 5px #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.display {
    height: 21vh;
    border: solid 1px #fff;
    font-size: 2rem;
    margin: 10px;
    margin-bottom: 0px;
}

.result {
    font-size: 3rem;
}

.buttons {
    display: flex;
    height: 100%;
    margin: 10px;
    margin-top: 0px;
}

.numbers {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 75%;
}

.operators {
    width: 25%;
}

.eachbutton {
    border: solid 1px #fff;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightbtns {
    height: 20%;
}



@media screen and (max-width: 450px) {
    .calculator {
      width: 90%;
      min-width: 250px;
    }
  }





